/*common shared style*/
body {
    font-family: 'Lato', sans-serif;
    color: #272727;
}



.title {
    font-size: 50px;
    font-style: normal;


}

/*header*/
.header {
    background: rgba(229, 84, 115, 0.10);
}

/*banner*/
.banner {
    padding-left: 200px;
    padding-top: 50px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;

}

.first {
    color: rgba(39, 39, 39, 0.60);

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.button {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    color: #FFF;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner .first-flr {
    width: 450px;
}



.sec_title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sec_description {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.flrs_description {
    display: flex;
    justify-content: center;
}

.description-1 {
    width: 315px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-left: 240px;


}

.img1 {
    width: 240px;
    height: 340px;
    padding-top: 110px;
    padding-left: 25px;


}


.description-2 {
    width: 315px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-left: 24px;
    margin-right: 24px;


}

.img2 {
    width: 240px;
    height: 340px;
    padding-top: 110px;
    padding-left: 29px;


}


.description-3 {
    width: 315px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-right: 240px;

}

.img3 {
    width: 240px;
    height: 340px;
    padding-top: 110px;
    padding-left: 25px;


}


.flrs-name {
    display: flex;
    justify-content: center;
}

.name1 {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-left: 350px;

}

.name2 {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-right: 235px;
    margin-left: 235px;
}

.name3 {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-right: 350px;

}


.shop_rule {
    display: flex;
    margin: auto;
    justify-content: center;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 100px;
    width: 1000px;

    flex-shrink: 0;



}

.rule {
    align-items: center;
    padding: 100px;

}

#span {
    color: #E55473;
}

.banner2 {

    padding-left: 200px;
    padding-top: 50px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 60px;
    background: rgba(229, 84, 115, 0.05);


}

.title1 {
    color: #272727;

    font-size: 25px;
    font-style: normal;

    padding-left: 223px;
    padding-right: 215px;



}

.button1 {
    border-radius: 7px;
    background: #E55473;
    display: inline-flex;
    padding: 15px 39px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    color: #FFF;
    margin-left: 295px;

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.first1 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.second-flr {
    width: 318px;
    height: 420px;
    flex-shrink: 0;
    margin-bottom: 100px;
}

.insta_description {
    display: flex;
    justify-content: center;
    margin-left: 240px;
    margin-right: 240px;

    gap: 10px;

}


/*.insta_pic1{
    margin-left: 240px;
    
}
.insta_pic2{
    margin-left: 24px;
    margin-right: 24px;
}

.insta_pic3{
    
    margin-right: 24px;
}
.insta_pic4{
    margin-right: 240px;
}
*/


.footer {
    background: #111010;
}

.footer_banner {
    padding: 50px;

}

.vallagena {
    color: #E55473;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    text-align: center;

}

#span1 {
    color: #FFF;
}

.vallagena1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
    font-size: 8px;
    font-style: normal;

}

.banner3 {
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(../images/Rectangle\ 9.png), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    margin: auto;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.title2 {
    color: #272727;
    text-align: center;
    padding-top: 122px;
    font-size: 40px;
}

.first2 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;



}

.pera {
    margin-left: 325px;
}

.button2 {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 8px 15px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    color: #FFF;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.butam {
    width: 300px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 8px;
}